@charset "utf-8";
/* layout.css는 전체적인 레이아웃 스타일을 정의합니다. */

.only-desktop {
  display: block !important;
}

.only-tablet {
  display: none !important;
}

.only-mobile {
  display: none !important;
}

.only-desktop-tablet {
  display: block !important;
}

.only-tablet-mobile {
  display: none !important;
}

#skipToContent a {
  z-index: 100000;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

#skipToContent a:focus,
#skipToContent a:active {
  width: 200px;
  height: 50px;
  background: #21272e;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
}

.ff-ns {
  font-family: "NanumSquare";
}

.ff-tt {
  font-family: "Titillium Web";
}

.ff-nn {
  font-family: "Nunito Sans", sans-serif;
}

.ff-nf {
  font-family: "NEXONFootballGothicBA1";
  font-weight: normal !important;
}

.contain {
  *zoom: 1;
  width: 100%;
  max-width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.contain:after {
  content: " ";
  display: block;
  clear: both;
}

.wide {
  max-width: 1660px;
}

.full {
  max-width: 100%;
}

/* header */

#header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 100;
}

#header .contain {
  height: 80px;
}

#header .sitelogo {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  z-index: 10;
}

#header .sitelogo .off {
  display: none;
}

#header .sitelogo .on {
  display: block;
}

#gnb {
  position: relative;
  z-index: 2;
  text-align: center;
}

#gnb > ul {
  display: inline-block;
  width: 100%;
  max-width: 960px;
}

#gnb > ul:after {
  content: "";
  display: block;
  clear: both;
}

#gnb > ul > li {
  float: left;
  position: relative;
  width: 25%;
}

#gnb > ul > li > a {
  position: relative;
  display: block;
  color: #242424;
  font-size: 20px;
  line-height: 80px;
  font-weight: 700;
  letter-spacing: 0;
  white-space: nowrap;
  text-decoration: none;
  position: relative;
  font-family: "NanumSquare";
  transition: all 0.25s ease-in-out;
}

#gnb > ul > li.active > a,
#gnb > ul > li:hover > a {
  color: #223a73;
}

#gnb > ul > li:hover .submenu {
  background: #223a73;
  border-color: #223a73;
}

#gnb .submenu {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  overflow: hidden;
  z-index: 1;
}

#gnb > ul > li:first-child .submenu {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

#gnb .submenu > ul {
  padding: 25px 0;
  text-align: center;
}

#gnb .submenu > ul > li {
  margin-bottom: 9px;
}

#gnb .submenu > ul > li > a {
  position: relative;
  display: block;
  line-height: 26px;
  font-weight: 300;
  color: #cacaca;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
ul > li > a {
  cursor: pointer;
}
#gnb .submenu > ul > li:hover > a,
#gnb .submenu > ul > li.active > a {
  color: #fff;
  font-weight: 500;
}

#gnb .submenu > ul > li:hover a:after {
  left: 0;
  width: 100%;
}

.submenu-bg {
  position: absolute;
  display: none;
  width: 100%;
  top: 80px;
  left: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.6);
}

/* for mobile */

.btn-m-menu {
  position: absolute;
  top: 50%;
  right: 0;
  width: 80px;
  height: 80px;
  transform: translateY(-50%);
  text-align: center;
  text-indent: -9999em;
  z-index: 50;
  z-index: 50;
  border-left: 1px solid #ddd;
}

.btn-m-menu span {
  position: absolute;
  left: 27px;
  right: 22px;
  top: 50%;
  height: 2px;
  margin-top: -1px;
  background: #242424;
  transform: translateY(-50%);
}

.btn-m-menu span:before,
.btn-m-menu span:after {
  content: " ";
  position: absolute;
  left: -5px;
  right: 0;
  height: 2px;
  background: #242424;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.btn-m-menu span:before {
  top: -10px;
  transition-property: top, transform;
}

.btn-m-menu span:after {
  bottom: -10px;
  transition-property: bottom, transform;
}

.mobile-navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  padding: 0 60px;
  height: 100%;
  background: #fff;
  overflow: auto;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: 0.3s;
  z-index: 10001;
}

.mobile-navigation .nav-menu {
  padding-top: 80px;
}

.mobile-navigation .nav-menu > ul {
  border-top: 1px solid #eaeaea;
}

.mobile-navigation .nav-menu > ul > li {
  border-bottom: 1px solid #eaeaea;
}

.mobile-navigation .nav-menu > ul > li > a {
  position: relative;
  display: block;
  padding: 15px 5px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #454545;
}

.mobile-navigation .nav-menu > ul > li.arrow > a:after {
  content: "";
  top: 24px;
  right: 10px;
  position: absolute;
  width: 9px;
  height: 9px;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  border-radius: 1px;
  transform: rotate(45deg);
}

.mobile-navigation .nav-menu > ul > li.arrow.active > a:after {
  top: 29px;
  transform: rotate(-135deg);
  border-color: #1e3168;
}

.mobile-navigation .nav-menu > ul > li.active > a {
  color: #1e3168;
}

.mobile-navigation .nav-menu .submenu {
  display: none;
  padding: 5px 0;
}

.mobile-navigation .nav-menu .submenu li a {
  display: block;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  padding: 0 5px;
  color: #999;
}

.mobile-navigation .nav-menu .submenu li a:hover {
  color: #222;
  text-decoration: underline;
}

.mobile-navigation .menu-close {
  position: absolute;
  top: 27px;
  right: 36px;
  width: 32px;
  height: 32px;
  text-indent: -9999em;
  overflow: hidden;
}

.mobile-navigation .menu-close:before,
.mobile-navigation .menu-close:after {
  content: " ";
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: #1e3168;
}

.mobile-navigation .menu-close:before {
  transform: rotate(45deg);
}

.mobile-navigation .menu-close:after {
  transform: rotate(-45deg);
}

.mobile-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  z-index: 1000;
}

div.menu-opened {
  overflow: hidden;
}

div.menu-opened .mobile-navigation {
  -ms-transform: translateX(0);
  transform: translateX(0);
}

div.menu-opened .mobile-overlay {
  display: block;
}

div.menu-opened .btn-m-menu span {
  background: none !important;
}

div.menu-opened .btn-m-menu span:before,
div.menu-opened .btn-m-menu span:after {
  transition-delay: 0s, 0.3s;
}

div.menu-opened .btn-m-menu span:before {
  top: 0;
  transform: rotate(45deg);
}

div.menu-opened .btn-m-menu span:after {
  bottom: 0;
  transform: rotate(-45deg);
}

#main #header {
  position: absolute;
  background: transparent;
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

#main #header .sitelogo .on {
  display: none;
}

#main #header .sitelogo .off {
  display: block;
}

#main #header #gnb > ul > li > a {
  color: #fff;
}

#main #header:hover {
  background-color: #fff;
}

#main #header:hover .sitelogo .on {
  display: block;
}

#main #header:hover .sitelogo .off {
  display: none;
}

#main #header:hover #gnb > ul > li > a {
  color: #242424;
}

#main #header:hover #gnb > ul > li:hover > a,
#main #header:hover #gnb > ul > li.active > a {
  color: #132754;
}

#main #header .btn-m-menu {
  border-left-color: rgba(255, 255, 255, 0.25);
}

#main #header .btn-m-menu span,
#main #header .btn-m-menu span:before,
#main #header .btn-m-menu span:after {
  background: #fff;
}

#main #header:hover .btn-m-menu {
  border-left-color: #ddd;
}

#main #header:hover .btn-m-menu span,
#main #header:hover .btn-m-menu span:before,
#main #header:hover .btn-m-menu span:after {
  background: #242424;
}

/* main */

.main-visual {
  position: relative;
  width: 100%;
  line-height: 0;
  overflow: hidden;
  z-index: 1;
}

.main-visual .bx-viewport {
  position: relative;
  z-index: 1;
}

.main-visual .mainSlide {
  position: relative;
  z-index: 1;
}

.main-visual .item {
  height: 600px;
  width: 100%;
  overflow: hidden;
}

.main-visual .bg1 {
  background-image: url("/public/images/main/visual1.jpg");
}

.main-visual .bg2 {
  background-image: url("/public/images/main/visual2.jpg");
}

.main-visual .bg3 {
  background-image: url("/public/images/main/visual3.jpg");
}

.main-visual .bg4 {
  background-image: url("/public/images/main/visual4.jpg");
}

.main-visual .bx-controls-direction a {
  position: absolute;
  width: 18px;
  height: 32px;
  margin-top: 24px;
  top: 50%;
  outline: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  text-indent: -9999px;
  z-index: 99;
}

.main-visual .bx-prev {
  background-image: url("/public/images/main/slide_prev.png");
  left: 80px;
}

.main-visual .bx-next {
  background-image: url("/public/images/main/slide_next.png");
  right: 80px;
}

.main-visual .item .vis-bg {
  display: block;
  position: relative;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.main-visual .item .vis-tt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1200px;
  padding-left: 100px;
  padding-right: 100px;
  color: #fff;
  text-align: center;
  z-index: 2;
}

.main-visual .item .cnt1 {
  padding-top: 80px;
}

.main-visual .item .cnt1 .ib {
  position: relative;
  display: inline-block;
  text-align: left;
  padding-left: 95px;
  padding-top: 70px;
}

.main-visual .item .cnt1 .ib .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 255px;
  border-top: 8px solid rgba(255, 255, 255, 0.6);
  border-left: 8px solid rgba(255, 255, 255, 0.6);
}

.main-visual .item .cnt1 .ib .box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
}

.main-visual .item .cnt1 .ib .box:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 8px;
  background: rgba(255, 255, 255, 0.6);
}

.main-visual .item .cnt1 .t1 {
  font-size: 26px;
  line-height: 1.4em;
  font-weight: 800;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.main-visual .item .cnt1 .t2 {
  margin-bottom: 17px;
}

.main-visual .item .cnt1 .t3 {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.main-visual .item .cnt2 p {
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 0;
  padding: 15px 0;
  position: absolute;
  top: 0;
  left: 50%;
}

.main-visual .item .cnt2 p.t2 {
  margin-left: 0.6em;
}

.main-visual .item .cnt3 p {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  letter-spacing: 0;
  padding: 15px 0;
  position: absolute;
  top: 0;
  left: 50%;
}

.main-visual .item .cnt3 p.t2 {
  margin-left: 0.3em;
}

.main-visual .item .cnt4 {
  padding-top: 80px;
}

.main-visual .item .cnt4 .t1 {
  font-size: 32px;
  line-height: 1.6em;
  font-weight: 400;
  letter-spacing: 0;
}

.main-visual .item .cnt4 .t1 strong {
  font-weight: 800;
}

.main-visual .item .anifade1 {
  position: relative;
  transition: all 1s;
  transition-delay: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  opacity: 0;
}

.main-visual .item .anifade2 {
  position: relative;
  transition: all 1s;
  transition-delay: 0.8s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  opacity: 0;
}

.main-visual .item .anidown1 {
  position: relative;
  bottom: 60px;
  transition: all 1s;
  transition-delay: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  opacity: 0;
}

.main-visual .item .anidown2 {
  position: relative;
  bottom: 60px;
  transition: all 1s;
  transition-delay: 0.8s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  opacity: 0;
}

.main-visual .item .anileft {
  transform: translateX(-50%);
  transition: all 0.8s;
  transition-delay: 0.1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.main-visual .item.vis-active .anifade1 {
  opacity: 1;
}

.main-visual .item.vis-active .anifade2 {
  opacity: 1;
}

.main-visual .item.vis-active .anidown1 {
  opacity: 1;
  bottom: 0;
}

.main-visual .item.vis-active .anidown2 {
  opacity: 1;
  bottom: 0;
}

.main-visual .item.vis-active .cnt2 .anileft {
  margin-left: -9em;
  transform: translateX(0);
}

.main-visual .item.vis-active .cnt3 .anileft {
  margin-left: -7.1em;
  transform: translateX(0);
}

#main-content {
  position: relative;
  padding: 25px 0;
  overflow: hidden;
  z-index: 2;
}

#main-content .cont-wrap {
  margin: 0 -20px;
}

#main-content .cont-wrap:after {
  content: "";
  display: block;
  clear: both;
}

#main-content .cont {
  float: left;
  width: 50%;
  padding: 0 20px;
}

.main-tit {
  position: relative;
  text-align: left;
  font-size: 28px;
  line-height: 50px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #242424;
}

.main-tit span {
  position: relative;
  display: inline-block;
  padding-bottom: 6px;
}

.main-tit span:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #454545;
}

.main-business {
  position: relative;
}

.main-business .head {
  margin-bottom: 19px;
}

.main-business .head:after {
  content: "";
  display: block;
  clear: both;
}

.main-business .main-tit {
  float: left;
  width: 260px;
  padding-left: 40px;
}

.main-business .bsnsTab {
  float: right;
  width: calc(100% - 260px);
  text-align: right;
  line-height: 0;
}

.main-business .bsnsTab ul {
  display: inline-flex;
  width: auto;
  text-align: center;
  margin: 0 -12px;
}

.main-business .bsnsTab ul .swiper-slide {
  width: auto;
  padding: 0 12px;
  min-width: 86px;
}

.main-business .bsnsTab ul li a {
  display: block;
}

.main-business .bsnsTab ul li a .tit {
  display: block;
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 550;
  letter-spacing: -0.02em;
  color: #818181;
}

.main-business .bsnsTab ul li a .ico {
  display: block;
  height: 34px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 8px;
}

.main-business .bsnsTab ul li a .ico1 {
  background-image: url("/public/images/main/ico_bsns1.png");
}

.main-business .bsnsTab ul li a .ico2 {
  background-image: url("/public/images/main/ico_bsns2.png");
}

.main-business .bsnsTab ul li a .ico3 {
  background-image: url("/public/images/main/ico_bsns3.png");
}

.main-business .bsnsTab ul li a .ico4 {
  background-image: url("/public/images/main/ico_bsns4.png");
}

.main-business .bsnsTab ul li a .ico5 {
  background-image: url("/public/images/main/ico_bsns5.png");
}

.main-business .bsnsTab ul li a .ico6 {
  background-image: url("/public/images/main/ico_bsns6.png");
}

.main-business .bsnsTab ul li a:hover .ico1,
.main-business .bsnsTab ul li.active a .ico1,
.main-business .bsnsTab ul li.react-tabs__tab--selected a .ico1 {
  background-image: url("/public/images/main/ico_bsns1_on.png");
}

.main-business .bsnsTab ul li a:hover .ico2,
.main-business .bsnsTab ul li.active a .ico2,
.main-business .bsnsTab ul li.react-tabs__tab--selected a .ico2 {
  background-image: url("/public/images/main/ico_bsns2_on.png");
}

.main-business .bsnsTab ul li a:hover .ico3,
.main-business .bsnsTab ul li.active a .ico3,
.main-business .bsnsTab ul li.react-tabs__tab--selected a .ico3 {
  background-image: url("/public/images/main/ico_bsns3_on.png");
}

.main-business .bsnsTab ul li a:hover .ico4,
.main-business .bsnsTab ul li.active a .ico4,
.main-business .bsnsTab ul li.react-tabs__tab--selected a .ico4 {
  background-image: url("/public/images/main/ico_bsns4_on.png");
}

.main-business .bsnsTab ul li a:hover .ico5,
.main-business .bsnsTab ul li.active a .ico5,
.main-business .bsnsTab ul li.react-tabs__tab--selected a .ico5 {
  background-image: url("/public/images/main/ico_bsns5_on.png");
}

.main-business .bsnsTab ul li a:hover .ico6,
.main-business .bsnsTab ul li.active a .ico6,
.main-business .bsnsTab ul li.react-tabs__tab--selected a .ico6 {
  background-image: url("/public/images/main/ico_bsns6_on.png");
}

.main-business .bsnsTab ul li a:hover .tit,
.main-business .bsnsTab ul li.active a .tit,
.main-business .bsnsTab ul li.react-tabs__tab--selected a .tit {
  color: #223a73;
}

.main-business .bsnsCont {
  padding: 30px 40px;
  height: 255px;
  background: #223a73;
}

.main-business .bsnsCont:after {
  content: "";
  display: block;
  clear: both;
}

.main-business .bsnsCont .imgbox {
  float: left;
  width: 33.5%;
}

.main-business .bsnsCont .imgbox .thumb {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 67.7%;
  overflow: hidden;
}

.main-business .bsnsCont .imgbox .thumb:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.main-business .bsnsCont .imgbox .thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100% !important;
  height: auto !important;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.main-business .bsnsCont .txtbox {
  position: relative;
  margin-left: 37%;
  overflow: hidden;
  color: #fff;
  padding-bottom: 20px;
  height: 100%;
}

.main-business .bsnsCont .txtbox .tit {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 15px;
  font-family: "NanumSquare";
}

.main-business .bsnsCont .txtbox .txt {
  line-height: 1.6em;
  font-weight: 300;
  min-height: 4.8em;
}

.main-business .bsnsCont .txtbox .btn-more {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.95em;
  line-height: 14px;
  font-weight: 300;
  font-family: "Titillium Web";
}

.main-business .bsnsCont .txtbox .btn-more:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: -0.2em 0 0 12px;
  width: 8px;
  height: 13px;
  background: url("/public/images/main/arw_wh.png") 0 0 no-repeat;
}

.main-project {
  position: relative;
}

.main-project .head {
  position: relative;
  margin-bottom: 19px;
}

.main-project .items {
  max-width: 940px;
  overflow: hidden;
  text-align: center;
}

.main-project .items .slick-list {
  margin: 0 -10px;
}

.main-project .items .slick-slide {
  padding: 0 10px;
}

.main-project .items a {
  position: relative;
  display: block;
}

.main-project .thumb {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 67.7%;
  overflow: hidden;
  margin-bottom: 15px;
}

.main-project .thumb:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.main-project .thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100% !important;
  height: auto !important;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.main-project .tit {
  font-size: 18px;
  line-height: 1.3em;
  font-weight: 700;
  color: #454545;
  font-family: "NanumSquare";
}

.main-project .items a:hover .tit {
  color: #223a73;
}

.main-project .btn-more {
  position: absolute;
  top: 50%;
  right: 40px;
  font-size: 0.95em;
  line-height: 14px;
  font-weight: 300;
  margin-top: -7px;
  font-family: "Titillium Web";
}

.main-project .btn-more:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: -0.2em 0 0 12px;
  width: 8px;
  height: 13px;
  background: url("/public/images/main/arw.png") 0 0 no-repeat;
}

.main-project .slick-arrow {
  position: absolute;
  width: 16px;
  height: 28px;
  margin-top: -14px;
  top: 50%;
  border: 0;
  outline: 0;
  z-index: 50;
  overflow: hidden;
  text-indent: -999em;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.main-project .slick-prev {
  background-image: url("/public/images/main/proj_prev.png");
  left: 135px;
}

.main-project .slick-next {
  background-image: url("/public/images/main/proj_next.png");
  left: 170px;
}

/* sub */

.sub-visual {
  display: table;
  width: 100%;
  height: 400px;
  color: #fff;
  background-color: #eee;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.sub-visual .tit {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.sub-visual h3 {
  font-size: 24px;
  line-height: 1.3em;
  font-weight: 700;
  letter-spacing: 0;
  font-family: "NanumSquare";
  margin-bottom: 5px;
}

.sub-visual h2 {
  font-size: 40px;
  line-height: 1.2em;
  font-weight: 700;
  letter-spacing: 0;
  font-family: "NanumSquare";
  margin-bottom: 35px;
}

.sub-visual p {
  font-size: 17px;
  line-height: 1.75em;
  font-weight: 400;
  letter-spacing: -0.03em;
}

.sub-visual.bg1 {
  background-image: url("/public/images/common/sub_visual1.jpg");
}
/*
.sub-visual.bg2 {
    background-image: url("/public/images/common/sub_visual2.jpg");
}

.sub-visual.bg3 {
    background-image: url("/public/images/common/sub_visual3.jpg");
}

.sub-visual.bg4 {
    background-image: url("/public/images/common/sub_visual4.jpg");
} */

#lnb {
  position: relative;
  text-align: center;
  line-height: 0;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

#lnb .swiper-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#lnb ul {
  *zoom: 1;
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#lnb ul li {
  display: table-cell;
  vertical-align: middle;
  width: auto;
  border-right: 1px solid #ddd;
}

#lnb ul li:first-child {
  border-left: 1px solid #ddd;
}

#lnb ul li a {
  display: block;
  font-size: 18px;
  line-height: 60px;
  font-weight: normal;
  letter-spacing: 0;
  color: #454545;
  font-family: "NanumSquare";
}

#lnb ul li.active {
  border-color: #223a73;
  background: #223a73;
}

#lnb ul li.active a {
  color: #fff;
}

#contArea {
  width: 100%;
  max-width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

#contArea.full {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.sub-title {
  position: relative;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 50px;
}

.sub-title h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: #242424;
  font-family: "NanumSquare";
}

.sub-title h2 span {
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
}

.sub-title h2 span:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #242424;
}

.sub-title.blind {
  padding-top: 0;
  margin-bottom: 0;
}

.sub-title.blind h2 {
  font-size: 0;
  line-height: 0;
}

.real-cont {
  min-height: 350px;
  padding-bottom: 100px;
}

.real-cont.pd {
  padding-top: 80px;
}

/* footer */

#footer {
  position: relative;
  clear: both;
  padding: 30px 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0;
  color: #d2d2d2;
  background: #242424;
  z-index: 10;
}

#footer .contain {
  position: relative;
  max-width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

#footer .foot-logo {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 24px;
  line-height: 1.2em;
  letter-spacing: 0;
}

#footer .foot-info {
  float: right;
}

#footer address {
  font-style: normal;
  text-align: right;
}

#footer address span {
  display: inline-block;
  margin-left: 14px;
}

.mobile-navigation .nav-menu {
  text-align: left;
}

.submenu_active {
  display: block !important;
}
.headerFix {
  position: relative !important;
  background-color: #fff;
  border-bottom: 1px solid #ddd !important;
}
.fontColorBlack > a {
  color: #000 !important;
}
.backgroudBlack,
.backgroudBlack::before,
.backgroudBlack::after {
  background: #242424 !important;
}

.feature-tit .item {
  text-align: left;
  background-color: #fff;
}
.business-swiper-prev {
  background-image: url("/public/images/sub/bsns_prev.png");
}
.doc-cnt .swiper-button-prev {
  background-image: url("/public/images/sub/bsns_prev.png");
  background-size: cover;
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  border: 0;
  outline: 0;
  z-index: 50;
  overflow: hidden;
  text-indent: -999em;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.doc-cnt .swiper-button-next {
  background-image: url("/public/images/sub/bsns_next.png");
  background-size: cover;
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  border: 0;
  outline: 0;
  z-index: 50;
  overflow: hidden;
  text-indent: -999em;
  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.swiper-slide {
  cursor: pointer;
}

.feature-tit {
  text-align: left;
}
.gallery-swiper .swiper {
  width: 900px;
}
.swiper-button-prev-new {
  background-image: url("/public/images/sub/bsns_prev.png");
  background-size: cover;
  content: "";
  width: 40px;
  height: 40px;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.swiper-button-next-new {
  background-image: url("/public/images/sub/bsns_next.png");
  background-size: cover;
  content: "";
  width: 40px;
  height: 40px;
  border: 0;
  outline: 0;
  background-color: transparent;
}
.gallery-swiper {
  display: flex;
}

.swiper-button-prev-unique,
.swiper-button-next-unique {
  text-align: center;
  line-height: 100%;
}
.cell.txt {
  text-align: left;
}
.root_daum_roughmap.root_daum_roughmap_landing {
  width: 1000px;
  height: 500px;
}
.sitelogo > a {
  cursor: pointer;
}
